/**
 * ----------------------------------------
 * animation fade-in-bottom
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
/**
 * ----------------------------------------
 * animation rotate
 * ----------------------------------------
 */
@keyframes rotate {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
.menu{
  display: flex;
  flex-direction: column;
  gap: 20px;
  -webkit-animation: fade-in-bottom 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in-bottom 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  &__box{
    height: 70px;
    text-decoration: none;
    display: flex;
    align-items: center;
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 15px;
    -webkit-box-shadow: 0 10px 13px -7px #000000, -4px 8px 26px 4px rgba(158,158,158,0.72);
    box-shadow: 0 10px 13px -7px #000000, -4px 8px 26px 4px rgba(158,158,158,0.72);
    transition: all 1s;
    &:visited{
      color: black;
    }
    &:hover{
      justify-content: space-between;
      padding-right: 0;
      .menu__box--check{
        width: 20%;
        height: 100%;
        margin-right: 0;
        opacity: 1;
        transition: all 1s;
        visibility: visible;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color:$tertiary-color;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
         .fa-circle-check{
           color: white ;
           animation: rotate 600ms linear;
         }
      }
     .menu__box--content{
       width: 80%;
       transition: all 1s ease-in-out;
       .menu__box--texte{
         width: 80%;
         h3{
           text-overflow: ellipsis;
           overflow: hidden;
           word-break: break-word;
         }
         p{
           text-overflow: ellipsis;
           overflow: hidden;
           word-break: break-word;
         }
       }
     }
    .menu__box--prix{
      justify-content: center;
    }
    }
    &--content{
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      width: 100%;
      padding-bottom: 10px;
      height: 70px;
      white-space: nowrap;
      transition: all 1s ease-in-out;
      .menu__box--texte{
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 70px;
        h3{
          font-weight: bold;
          margin: 0;
        }
        p{
          margin: 5px 0 0 0;

        }
      }
      }
    &--check{
     width: 0;
      opacity: 0;
      visibility: hidden;
      transition: all 1s;
      background-color:$tertiary-color;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      .fa-circle-check{
        color: white;
        font-size: 28px;
      }
    }
    &--prix{
      display: flex;
      justify-content: flex-end;
      width: 20%;
      margin-top: 30px;
      font-weight: bold;
      padding-right: 15px;
    }

  }
}

@media screen and (min-width: 1000px){
  .menu{
   flex-direction: row;
    &__box{
      width: 30%;
    }

  }
}
