body{
  font-family: "Roboto",sans-serif;
}
/**
 * ----------------------------------------
 * animation rotate-center
 * ----------------------------------------
 */
@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes appear {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes diappear {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
.loader{
  position: absolute;
  top: 30%;
  left: 40%;
  animation: diappear 3s ease-in-out forwards;
}
.loader-1{
  width: 48px;
  height: 48px;
  border: 5px solid #afafaf;
  border-bottom-color: #FF3D00;
  border-radius: 50%;
  display: inline-block;
  -webkit-animation: rotation 1s linear infinite;
  animation: rotate-center 1s linear infinite;
}
.content{
  animation: appear 3s ease-in-out;
}
header{
  img{
    width: 50%;
    margin-bottom: 25px;
    margin-top: 25px;
  }
  border-bottom: white 1px solid;
  -webkit-box-shadow: 2px 14px 15px -6px rgba(130,125,125,0.93);
  box-shadow: 2px 14px 15px -6px rgba(130,125,125,0.93);
}
.location{
  background-color: $grey;
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 19px;
   &__input{
     background-color: $grey;
     width: 35%;
    border: none;
     margin-left: 4px;
     font-weight: bold;
  }
}
.reserver{
  background-color: $lightgrey;
  padding-top: 20px;
  padding-bottom: 30px;
  text-align: center;
  h1{
    font-weight: bold;
    font-size: 33px;
  }
  p{
    font-size: 20px;
  }
}
.working{
  margin-left: 15px;
  h2{
    padding-top: 20px;
    font-size: 28px;
    font-weight: bold;
  }
  &__step{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 15px;
    margin-bottom: 15px;
    width: 85%;
    display: flex;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 17px;
    -webkit-box-shadow: 5px 5px 15px -1px rgba(100,100,100,0.67);
    box-shadow: 5px 5px 15px -1px rgba(100,100,100,0.67);
    background-color: $lightgrey;
     &:visited{
       color: black;
     }
    &:hover{
      background-color: lighten($primary-color,34%);
        i{
          color: $primary-color;
        }
      }
    span{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20px;
      height: 20px;
      color: white;
      margin-left: -10px;
      background-color: $primary-color;
      border-radius: 50%;
    }
    i{
      color: #a4a4a4;

    }
  }
}
.restaurants{
  h2{
    margin-left: 15px;
    font-size: 28px;
  }
}
@media screen and (min-width: 1000px){
 header{
   img{
     width: 20%;
   }
 }
  .location{
    &__input{
      width: 10%;
    }
  }
  .working{
    &__queries{
      display: flex;
      flex-direction: row;
      margin-left: 60px;
      gap: 60px;
    }
    &__step{
      width: 25%;
      gap: 20px;
    }
  }
  .loader{
    left: 47%;
  }

}
